body {
    background-color: #fef685;
    font-family: "Helvetica",sans-serif;
    color: #fbfcfd;
    margin: 40px;
    line-height: 1.6;
    text-align: center;
    padding: 50px;
}
h1{
    color: #7a8ff8;
}
.card {
    flex: 0 0 auto;
    width: 220px;

    background-color: #7a8ff8;
    border: 1px solid #030367;
    border-radius: 12px;
    padding: 16px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 99, 1);
    text-align: center;
    scroll-snap-align: start;
    transition: transform 0.6s ease;
    will-change: transform;
    transform-style: preserve-3d;
    will-change: transform;
}
.scroll-container{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100vw;
    margin: 0;
    }
.scroll-container::-webkit-scrollbar {
    display: none;
}
.card:hover{
    transform: translateY(-8px);
}
.card p {
    font-size: 14px;
}
.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.card-wrapper{
    perspective: 1000px;
}

@media screen and (max-width: 600px) {
    .scroll-container {
        gap: 12px;
        padding: 12px;
    }
    .card {
        width: 180px;
        font-size: 13px;
        padding: 12px;
    }
    .card p {
        font-size: 12px;
    }
}